{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="{% static 'js/1.js' %}"></script>
	<link rel="stylesheet" href="{% static 'CSS/1.css' %}">
	<link rel="icon" href="{% static 'LOGO/img2.png' %}" type="image/x-icon">
	<title>Data Entry Portal</title>
</head>

<body class="animated_bg">
	<nav class="navbar nav nav-pills navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar"> <span class="navbar-toggler-icon"></span> </button>
			<a class="navbar-brand mr-auto" href="{% url 'main' %}"><img src="{% static 'image/img.jpg' %}" height="40" width="41"></a>
			<div class="collapse navbar-collapse" id="Navbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="{% url 'main' %}">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'view' %}">View Entry</a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'entry' %}">Data Entry</a></li>
					<li class="nav-item"><a class="nav-link active" href="#">Update Entry</a></li>
				</ul>
			</div> <span class="navbar-text" id="logout">
				<a href="{% url 'logout' %}" ><span class="fa fa-sign-out"></span> Logout</a>
			</span>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<ol class="col-12 breadcrumb crumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item"><a href="#">View Entry</a></li>
				<li class="breadcrumb-item active">Data Entry</li>
			</ol>
		</div>
	</div>
	<br>
	<form method="post" action="" enctype="multipart/form-data"> {% csrf_token %}
		<div class="container-lg">
			<div class="row row-content">
				<div class="col-12 offset-md-4 col-md-4">
					<h2>Registration Portal</h2> </div>
			</div>
			<table>
				<div class="row row-conten"> {{form.as_table}} </div>
			</table>
			<div class="row row-content">
				<div class="col-6 offset-md-1 col-md-7">
					<div class="col-1 offset-md-11 col-md-">
						<input type="submit" class="btn btn-btn btn-primary" value="Update"> </div>
				</div>
				<div class="col-5 offset-md-1 col-md-1">
					<div class="col-5 col-md-">
						<input type="reset" class="btn btn-btn btn-primary"> </div>
				</div>
			</div>
		</div>
	</form>
</body>
<footer class="container-fluid bg-dark mt-5">
	<div class="card-lg bg-dark w-150">
		<div class="card-body">
			<!-- Copyright -->
			<div class="footer-copyright text-center" id="footer">© 2020 Copyright: <a href="https://ssdndeepu.com.com/"> SSDNDEEPU</a>
				<br>All Rights Reserved
				<br>
				<p> By using our site, you acknowledge that you have read and understand our <a href="TUS.html" target="_blank">Terms of Service.</a> </p>
			</div>
			<!-- Copyright -->
		</div>
	</div>
</footer>
<script type="text/javascript">
document.getElementById("Darbar").value = {
	{
		single.Darbar
	}
};
</script>
</body>

</html>