.row-header {
	margin: 0px auto;
	padding-top: 3%;
}

input, textarea {
	font-family: inherit;
	font-size: inherit;
}

.row-content {
	margin: 0px auto;
	padding-top: 9%;
	min-height: 100px;
}

.mb-5 {
	padding-bottom: 15%;
}

input[type=text] {
	padding: 10px;
	border: 0px;
	border-bottom: 1px solid transparent;
	border-image-slice: 1;
	border-image-source: -webkit-linear-gradient(left, #21d4fd, #b721ff);
	border-image-source: -moz-linear-gradient(left, #21d4fd, #b721ff);
	border-image-source: -o-linear-gradient(left, #21d4fd, #b721ff);
	border-image-source: linear-gradient(left, #21d4fd, #b721ff);
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=password] {
	padding: 10px;
	border: 0px;
	border-bottom: 1px solid;
	border-image-slice: 1;
	border-image-source: -webkit-linear-gradient(left, #21d4fd, #b721ff);
	border-image-source: -moz-linear-gradient(left, #21d4fd, #b721ff);
	border-image-source: -o-linear-gradient(left, #21d4fd, #b721ff);
	border-image-source: linear-gradient(left, #21d4fd, #b721ff);
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

select,.kem {
	padding: 10px;
	border: 0;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

.container-lg {
	width: 25%;
	margin-top: 5%;
	background-color: white;
	border-radius: 10px;
}

.jam {
	padding-left: 3%;
}

body {
	background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
	background: -o-linear-gradient(left, #21d4fd, #b721ff);
	background: -moz-linear-gradient(left, #21d4fd, #b721ff);
	background: linear-gradient(left, #21d4fd, #b721ff);
}

.btn {
	border: 0px;
	background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
	background: -o-linear-gradient(left, #21d4fd, #b721ff);
	background: -moz-linear-gradient(left, #21d4fd, #b721ff);
	background: linear-gradient(left, #21d4fd, #b721ff);
}

.btn:hover {
	background-color: red;
}

#entry {
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.kem {
		padding-left: 4.5%;
	}

	.cla {
		display: none;
	}

	.row-content {
		margin: 0px auto;
		padding-top: 11%;
		min-height: 100px;
	}

	.ml-5 {
		padding-top: 0%;
		padding-bottom: 0%;
		padding-left: 0%;
		padding-right: 0%;
		margin-top: 0%;
		margin-left: 0%;
		margin-bottom: 0%;
		margin-right: 0%;
	}

	.ml-4 {
		padding-top: 0%;
		padding-bottom: 0%;
		padding-left: 0%;
		padding-right: 0%;
		margin-top: 0%;
		margin-left: 0%;
		margin-bottom: 0%;
		margin-right: 0%;
	}

	.container-lg {
		width: 95%;
		margin-top: 10%;
	}

	.animated_bg {
		background-color: white;
	}

	#entry {
		text-align: center;
	}
}